<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
     
     <!-- Guardando el tipo de cambio -->
       <h1>Costo de envio nacional</h1>
       <a th:href="@{/administracion}">Regresar</a>
       <br/>
       <form th:action="@{/guardar-envio-nacional}" method="post" th:object="${envioNacional}">
        <label for="envio-nacional">Ingrese el costo de envio nacional</label>
        <input type="number" step="any" name="envio-nacional" th:field="*{envioNacional}"/>
        
        <input type="submit" name="guardar" value="Guardar" />
       </form>
          
        
    </body>
</html>
