
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
     
     <!-- Guardando el tipo de cambio -->
       <h1>Datos de la persona</h1>
       <a th:href="@{/administracion}">Regresar</a>
       <br/>
       <form th:action="@{/guardar-internacional}" method="post" th:object="${costoEnvioInter}">
        <label for="internacional">Ingrese el tipo de cambio</label>
        <input type="number" step="any" name="internacional" th:field="*{costoEnvioInternacional}"/>
        
        <input type="submit" name="guardar" value="Guardar" />
       </form>
          
        
    </body>
</html>


