<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
     
     <!-- Guardando el tipo de cambio -->
       <h1>Agregar el impuesto aduana</h1>
       <a th:href="@{/administracion}">Regresar</a>
       <br/>
       <form th:action="@{/guardar-impuesto-aduana}" method="post" th:object="${impuestoAduana}">
        <label for="aduana">Ingrese el porcentaje impuesto aduana</label>
        <input type="number" step="any" name="aduana" th:field="*{cantImpuestoAduana}"/>
              
        <input type="submit" name="guardar" value="Guardar" />
       </form>
          
        
    </body>
</html>
