<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:replace="layout/plantilla :: head">Inicio</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body style="background:linear-gradient(275deg, #fceabb, #f8b500);">

    <!-- Menu -->
    <ul class="nav" style="margin-top: 20px; margin-left: 40px; margin-bottom: 20px; margin-right: 50px;">
        <li class="nav-item">
            <a class="btn btn-primary btn-lg btn-lg" style="border: none" th:href="@{/index}">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary btn-lg btn-lg" style="margin-left: 10px; border: none"
                th:href="@{/mostrar-producto}">Cotizar en Amazon</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary btn-lg btn-lg" style="margin-left: 10px; border: none"
                th:href="@{/administracion}">Administración</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-primary btn-lg btn-lg" style="margin-left: 10px; border: none"
                th:href="@{/sobreNosotros}">Sobre Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-dark btn-lg" style="margin-left: 10px; border: none" href="#">Cerrar Sesión</a>
        </li>
    </ul>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-9">
                <p class="display-3" style="margin-top: 10%;">COTIZADOR AMAZON</p>
            </div>

            <div class="col-md-3">
                <img src="https://umg.edu.gt/assets/umg.png" style="width: 85%;;" alt="">
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col text-center">
            <img src="https://blogs.unsw.edu.au/nowideas/files/2018/03/amazon.jpg" class="rounded-circle" alt="" srcset="">
        </div>
    </div>



    <footer th:replace="layout/plantilla :: footer"></footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>