<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/style.css">
    </head>
    <body>
     
     <!-- Guardando el tipo de cambio -->
       <h1>Agregar porcentaje ganancia</h1>
       <a th:href="@{/administracion}">Regresar</a>
       <br/>
       <form th:action="@{/guardar-porcentaje-ganancia}" method="post" th:object="${porcentGanancia}">
        <label for="ganancia">Ingrese el porcentaje Ganancia</label>
        <input type="number" step="any" name="ganancia" th:field="*{porcentajeGanancia}"/>
        
        <input type="submit" name="guardar" value="Guardar" />
       </form>
          
        
    </body>
</html>
