<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8" />

<head>
	<title>Productos</title>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}" />
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
		integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body style="background:linear-gradient(275deg, #8360c3, #2ebf91);">

	<!-- Menu -->
	<ul class="nav" style="margin-top: 20px; margin-left: 40px; margin-bottom: 20px; margin-right: 50px;">
		<li class="nav-item">
			<a class="btn btn-outline-primary btn-lg btn-lg" style="border: none" th:href="@{/index}">Inicio</a>
		</li>
		<li class="nav-item">
			<a class="btn btn-primary btn-lg btn-lg" style="margin-left: 10px; border: none"
				th:href="@{/mostrar-producto}">Cotizar en Amazon</a>
		</li>
		<li class="nav-item">
			<a class="btn btn-outline-primary btn-lg btn-lg" style="margin-left: 10px; border: none"
				th:href="@{/administracion}">Administración</a>
		</li>
		<li class="nav-item">
			<a class="btn btn-outline-primary btn-lg btn-lg" style="margin-left: 10px; border: none"
				th:href="@{/sobreNosotros}">Sobre Nosotros</a>
		</li>
		<li class="nav-item">
			<a class="btn btn-outline-dark btn-lg" style="margin-left: 10px; border: none" href="#">Cerrar Sesión</a>
		</li>
	</ul>


	<form th:action="@{/mostrar-producto}" class="form-inline">

		<div class="container " align="center">
			<div class="" style="margin-top: 30px">


				<div class="row">
					<div class="col-md-2">
						<label style="font-size: 30px;">PRODUCTO</label>
					</div>

					<div class="col-md-8">
						<input type="text"
							style="width: 100%; border-radius: 50px; border: 4px solid black; height: 120%; font-size:18px;"
							class="form-control" placeholder="PEGA EL LINK DE TU PRODUCTO AQUÍ" th:name="url">
					</div>


					<div class="col-md-2">
						<button type="submit" class="btn btn-dark mx-2"><i class="fa fa-search"></i>
							BUSCAR</button>

					</div>
				</div>

				<!-- TODO: imagen de API de AMAZON -->
				<div class="articulo">
					<h4 style="margin-top: 5%;"
						th:text="${productoAmazon.productTitle}"></h4>
					<br>
					<div class="container">
						<div class="row">
							<div class="col">
								<img src="" style="width: 500px; border: 4px solid black;"
									th:src="${productoAmazon.imageUrlList[0]}"
									class="img-fluid shadow-sm p-3 rounded" />
							</div>
							<div class="col">
								<h6 th:text="${productoAmazon.productDescription}"></h6>

								<h1
									style="font-size: 50px; color: white; background-color: rgb(0, 0, 0); padding: 15px; border-radius: 10px;"
									th:hidden="${estado}" th:text="${precioFinal}"></h1>
							</div>
						</div>
					</div>
				</div>



			</div>

	</form>


	<footer th:replace="layout/plantilla :: footer"></footer>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>

</html>





